// Define variables for your color scheme

// Foodbreaker colors
$food-blue: #32324D;
$food-pink: #F93C52;
$food-off-white: #FCF5E9;
$food-orange:#F1CC77;

// For example, from code origin:
 $red: #F93C52;
 $blue: $food-blue;
 $yellow: $food-orange;
 $orange: $food-orange;
 $green: #1EDD88;
 $gray: #0E0000;
 $light-gray: #F4F4F4;
