// .pin-form {
//   position: absolute;
//   right: 27px;
//   top: 10px;
//   color:#FA3C53;
// }

// .pin-form-2 {
//   position: absolute;
//   left: 142px;
//   top: 10px;
//   color:#FA3C53;
// }

// .form-control {
//   margin: -32px 46px;
// }

// .categories-filter {
//   color:#FA3C53;
//   display: flex;
//   align-items: flex-start;
//   gap: 8px;
//   border-radius: 10px;
//   justify-content: space-between;
// }

// .btn-filter {
//   border-radius: 6px;
//   color: #A5A5BA;
//   font-weight: bold;
//   font-size: 12px;
//   position: relative;
// }

// .btn-filter:hover {
//   background-color: $food-pink;
//   color: white;
// }

// .categories-form {
//   color:#FA3C53;
//   font-size: 22px;

// }

// .categories-layout {
//   display: flex;
//   justify-content: space-between;
//   padding: 30px 52px 0px 55px;

// }

.card-event-little-all {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 6px;
}


.card-event-little {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 10px;
  width: 48%;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

.card-event-little > img {
  width: 100%;
  border-radius: 10px;
  flex: 1;
}

.card-event-little h6 {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.02em;
  margin: 0;
  width: 50%;
  color: #32324D;
}

.card-event-little p {
  font-size: 12px;
  margin: 0;
  color: #A5A5BA;
  font-weight: bold;
}

.card-event-little-infos {
  display: flex;
  justify-content: space-between;
  padding: 0px 16px 0px 4px;
}

.search-items {
  display: flex;
  justify-content: space-between;
}

.filters_categories > legend {
  display: none;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  > div {
    margin-bottom: 0px !important;
  }
  .filters_address {
    flex: 1 0 60%;
  }
  .filters_language {
    flex: 0 0 68px;
    margin-left: 0.5rem;
  }
  .filters_date {
    flex: 100%;
  }
}
