.pin-form {
  position: absolute;
  right: 27px;
  top: 10px;
  color:#FA3C53;
}

.pin-form-2 {
  position: absolute;
  left: 142px;
  top: 10px;
  color:#FA3C53;
}

.form-control {
  margin: -32px 0px;
}

.categories-form {
  color:#FA3C53;
  font-size: 22px;

}

.categories-layout {
  display: flex;
  justify-content: space-between;
  padding: 30px 52px 0px 55px;

}
