.pin-form {
  position: absolute;
  right: 27px;
  top: 10px;
  color:#FA3C53;
}

.pin-form-2 {
  position: absolute;
  left: 163px;
  top: 10px;
  color:#FA3C53;
}

.form-control {
  margin: -32px 0px;
}
