// Specific CSS for your home-page
.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  background-size: cover;
  background-position: center;
}
