<div class="card-event">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"/>
  <div class="card-event-infos">
    <div class="card-event-infos__avatar">
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar"/>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="flag" style="margin-right:auto"/>
    </div>
    <div class="card-event-infos__title">
      <h2><%=@events.title%></h2>
      <p>22 Septembre 2022</p>
    </div>
    <div class="card-event-infos__participants">
      <div>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-event-user avatar"/>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-event-user avatar"/>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-event-user avatar"/>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-event-user avatar"/>
      </div>
      <p>4/5</p>
    </div>
  </div>
</div>

<div class="event-description">
    <p><%=@events.description%></p>
</div>
