<%= link_to events_path do %>
  <div class="banner">
    <div class="banner-content text-center">
      <%= image_tag "Miroodles.png", size: "146x146", alt:"logo"%>
      <h2>Food Breaker</h2>
    </div>
  </div>
<% end %>
