.btn-foodbreaker {
  border: 0;
  border-radius: 6px;
  color: white;
  background-color: $food-pink;
  font-weight: bold;
  font-size: 12px;
  position: relative;
  height: 30px;
  width: 100%;
}

.btn-foodbreaker:hover {
  background-color: $food-pink;
  color: white;
}

button.btn-foodbreaker {
  width: 80%;
}

.btn-foodbreaker-container {
  display: flex;
  justify-content: center;
}
