.btn-primary {
  padding: 12px 16px 12px 24px;
  position: absolute;
  border-radius: 6px;
  color: $food-pink;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: $food-pink;
  color: white;
}
