// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "components/index";
@import "pages/index";


/////////////GLOBAL/////////////

a {
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #FA3C53;
  font-weight: bold;
  border: 1;
}

.nav-link{
  transition: none;
}
